<?xml version="1.0" encoding="UTF-8"?>
<server description="MicroProfile Catalog Service Server">

    <featureManager>
        <platform>microProfile-7.1</platform>
        <platform>jakartaEE-10.0</platform>
        <feature>restfulWS</feature>
        <feature>jsonp</feature>
        <feature>jsonb</feature>
        <feature>cdi</feature>
        <feature>mpConfig</feature>
        <feature>mpOpenAPI</feature>
        <feature>mpHealth</feature>
        <feature>mpMetrics</feature>
        <feature>mpTelemetry</feature>
        <feature>mpFaultTolerance</feature>
        <feature>mpJwt</feature>
        <feature>mpRestClient</feature>
    </featureManager>
    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />
    <webApplication location="catalog.war" contextRoot="${app.context.root}"/>
</server>