<server description="MicroProfile Tutorial Liberty Server">
    <featureManager>
        <platform>jakartaEE-10.0</platform>
        <platform>microProfile-6.1</platform>
        <feature>restfulWS</feature>
        <feature>jsonp</feature>
        <feature>jsonb</feature>
        <feature>cdi</feature>
        <feature>mpConfig</feature>
        <feature>mpOpenAPI</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />
    <webApplication location="catalog.war" contextRoot="${app.context.root}"/>

</server>