<?xml version="1.0" encoding="UTF-8"?>
<server description="Open Liberty Reactive Messaging Server">

    <featureManager>
        <feature>cdi-4.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>mpReactiveMessaging-3.0</feature>
        <feature>mpConfig-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${http.port}"
                  httpsPort="${https.port}" />

    <webApplication location="reactive-messaging-hello.war" contextRoot="/">
        <classloader apiTypeVisibility="+third-party"/>
    </webApplication>

    <variable name="http.port" defaultValue="9080"/>
    <variable name="https.port" defaultValue="9443"/>
</server>
