<server description="MicroProfile Tutorial Liberty Server">
    <featureManager>
        <platform>microProfile-7.0</platform>
        <platform>jakartaee-10.0</platform>
        <feature>restfulWS</feature>
        <feature>jsonb</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />
    <webApplication location="mp-ecomm-store.war" contextRoot="${app.context.root}"/>
</server>
