<server description="MicroProfile Tutorial Liberty Server">
    <featureManager>
        <platform>jakartaEE-10.0</platform>
        <platform>microProfile-6.1</platform>
        <feature>restfulWS</feature>
        <feature>jsonp</feature>
        <feature>jsonb</feature>
        <feature>cdi</feature>
        <feature>persistence</feature>
        <feature>jdbc-4.3</feature>
    </featureManager>

    <application location="catalog.war" contextRoot="catalog"/>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
        id="defaultHttpEndpoint" host="*" />

    <!-- Derby Embedded Configuration -->
    <dataSource id="productjpadatasource" jndiName="jdbc/productjpadatasource">
        <jdbcDriver>
            <library>
                <fileset dir="${server.config.dir}/lib" includes="derby*.jar"/>
            </library>
        </jdbcDriver>
        <properties.derby.embedded databaseName="ProductDB" createDatabase="create" />
    </dataSource>

</server>