<server description="MicroProfile Tutorial Liberty Server">
    <featureManager>
        <platform>jakartaEE-10.0</platform>
        <platform>microProfile-6.1</platform>
        <feature>restfulWS</feature>
        <feature>jsonp</feature>
        <feature>jsonb</feature>
        <feature>cdi</feature>
        <feature>persistence</feature>
    </featureManager>

    <application location="catalog.war" contextRoot="catalog"/>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
        id="defaultHttpEndpoint" host="*" />

    <!-- Derby Library Configuration -->
    <library id="derbyJDBCLib">
        <fileset dir="${shared.resource.dir}/" includes="derby*.jar" />
    </library>

    <dataSource id="productjpadatasource" jndiName="jdbc/productjpadatasource">
        <jdbcDriver libraryRef="derbyJDBCLib" />
        <properties.derby.embedded databaseName="ProductDB" createDatabase="create" />
    </dataSource>

</server>